{% assign contact = site.pages | where_exp: "p", "p.url == '/contact/'" | first %}

<footer class="py-4">
  <div class="container">
    <div class="d-flex flex-wrap gap-3 justify-content-center justify-content-md-start text-muted small">
      <span>© {{ site.title }}</span>

      {% if contact and contact.email %}
        <a class="link-primary text-decoration-none" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      {% endif %}

      {% if contact and contact.telegram %}
        <a class="link-primary text-decoration-none" href="https://t.me/{{ contact.telegram }}">@{{ contact.telegram }}</a>
      {% endif %}

      {% if contact and contact.hh %}
        <a class="link-primary text-decoration-none" href="{{ contact.hh }}">HH</a>
      {% endif %}

      {% if contact and contact.phone %}
        <a class="link-primary text-decoration-none" href="tel:{{ contact.phone | replace: ' ', '' }}">
          {{ contact.phone }}
        </a>
      {% endif %}
    </div>
  </div>

<script src="{{ '/assets/vendor/bootstrap_5_3_8/js/bootstrap.bundle.min.js' | relative_url }}"></script>


</footer>
